<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.EasyBreathing.a7_minutesworkoutapp">

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name="eu.EasyBreathing.a7_minutesworkoutapp.WorkOutApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/EasyBreathing"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight">
        <activity
            android:name="eu.EasyBreathing.a7_minutesworkoutapp.Register"
            android:exported="false" />
        <activity
            android:name="eu.EasyBreathing.a7_minutesworkoutapp.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.EasyBreathing.a7_minutesworkoutapp.HistoryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="eu.EasyBreathing.a7_minutesworkoutapp.BMIActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="eu.EasyBreathing.a7_minutesworkoutapp.FinishActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="eu.EasyBreathing.a7_minutesworkoutapp.ExerciseActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name="eu.EasyBreathing.a7_minutesworkoutapp.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">

        </activity>
    </application>

</manifest>